$secondary-color: #6dd0b0;
$link-color: rgba(69, 69, 69, 0.5);
$text-info: #959595;
$text-dark: #434343;

// $base-color: #c3898b;
$base-color: #FF5252;
$accent-color: #fcfafa;

$color-text: #707070;

$border-color: #bfbfbf;

$background-color: #f7f6f4;
$footer-color: #639983;

$title-color: linear-gradient(180deg, #739983 0, #739983 52%, #538065 52%, #538065 100%);

$twitter-color: #0886e0;

// font Roboto
@import url(https://fonts.googleapis.com/css?family=Vollkorn|Roboto);

$font-size-body: 1.4rem;
$font-size-secondary: 1.3rem;
$font-family-base: 'Roboto', sans-serif;
$font-family-raleway: Raleway, $font-family-base;
$font-family-medel: Medel, $font-family-base;

$size-s: 600px;
$size-m: 992px;
$size-l: 1200px;
$size-xl: 1366px;
$size-xxl: 1440px;
$size-lg-more: 1280px;

$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$hd: 1366px;
$xxl: 1440px;
$xxxl: 1600px;

//FONTAWESOME CUSTOMIZE
$fa-font-path: "../../node_modules/@fortawesome/fontawesome-free/webfonts";

