.profile {

    &-modal-close {
        position:absolute;
        top:0;
        left:0;
        background:rgba(200,200,200,0.9);
        width:100vw;
        height:100%;
        z-index:10;
        display: none;
    }

    .filter-top {

        height: 400px;
        img {
            height: 400px;
            width: 100%;
            object-fit: cover;
        }
    }

    &__set {

        &-position {
            position: relative;
            width: 100vw;

            &-in {
                position: absolute;
                bottom: -125px;
                width: 100vw;
            }
        }


        &__image {

            &-filter {
                @include circle-image(250px);
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translateY(-50%) translateX(-50%);
            }
        }
    }


    &__img {
        @include circle-image(250px);
        border: 8px solid $base-color;
    }

    &__icon {
        display: block;
        @include circle-image(250px);
        &:hover {
                    background:rgba(0,0,0,0.3);
                }

            svg {
                cursor: pointer;
            }
    }

    &__modal {
        position: fixed;
        width: 600px;
        height: 400px;
        top: 50%;
        left: 50%;
        margin-left: -300px;
        margin-top: -200px;
        z-index: 11;
        display: none;

        form {
            box-shadow: 0px 30px 60px -5px #000;
            margin: auto;
            height: 80%;
            background-color: #fff;
        }

        &__input {
            padding: 40px;
        }

        &__btn {
            display: flex;
            align-items: center;
            justify-content: center;
            min-height: 28px;
            color: inherit;
            cursor: pointer;
            z-index: 9999 !important;
            transition: .7s ease;
            border-radius: 100%;
            padding: 30px 11px;

            &__bars {
                background-color: transparent;
                display: block;
                position: relative;
                width: 45px;
                height: 4px;
                transition: .3s;

                &:before, &:after {
                    content: "";
                    display: block;
                    position: absolute;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    transition: .3s;
                    background-color: white;
                }

                &:before {
                    transform: rotate(45deg);
                    background: black;
                }

                &:after {
                    transform: rotate(-45deg);
                    background: black;
                }
            }
        }
    }

    &-info {
        margin: 200px auto;

        form {
            display: flex;
            flex-direction: column;
            width: 80%;
            margin: auto;
        }

        &__input {
            border: none;
            border-bottom: 3px solid rgb(223, 208, 208);
            padding: 0 40px;
            margin-bottom: 30px;
        }
    }
}