.mypage {
    background-image: url(../images/cafe-login.jpg);
    position: relative;
    background-size: cover;

    &__container {
        padding: 150px 0;
    }

    &__wrapper {
        width: 500px;
        margin: auto;
        box-shadow: 0px 30px 60px -5px #000;
        background: $background-color;
        position: relative;

    }

    &-info {
        background: $base-color;

        &__img {
            padding: 50px 0 40px;

            img {
                @include circle-image(150px);
                border: 2px solid white;
            }
        }

        &__profile {
            padding: 20px;
            background: $background-color;

            &-name {
                font-size: 40px;
                padding: 10px 0 20px;
            }

            &-text {
                padding-bottom: 10px;
            }

            &-edit {
                a {
                    padding: 10px 40px !important;
                }
            }

        }

        &__event {
                margin-top: 15px;
                border: 1px solid #efefef;
                padding: 10px;
                transition: all 0.3s ease;

                &:hover {
                    box-shadow: 0 0.5rem 1rem gray;
                    color: $base-color;
                }

            img {
                @include square-image(100px);
                margin-right: 20px;
            }


        }

    }
}