<h2>プロフィール編集</h2>
<%= form_with model:@user, local:true do |f| %>
    <label for="inputName">名前</label>
    <%= f.text_field :name, autofocus: true, id:"inputName", placeholder:"名前"%>

    <% if @user.user_image.attached? %>
        <%= image_tag @user.user_image, class: "profile__img" %>
    <% else %>
        <%= image_tag("no-image-male.jpg"), class: "profile__img" %>
    <% end %>
    <label for="inputImage">ProfileImage</label>
    <%= f.file_field :user_image, placeholder: "プロフィール画像" %>

    <label for="inputName">学年</label>
    <%= f.text_field :grade, autofocus: true, id:"inputGrade", placeholder:"●年生"%>

    <label for="inputName">大学</label>
    <%= f.text_field :university, autofocus: true, id:"inputUniversity", placeholder:"カフェ大学"%>

    <%= f.submit "変更を保存" %>
<% end %>