.login {
    background-image: url(../images/cafe-login.jpg);
    position: relative;
    background-size: cover;
    height: 100vh;

    .notice {
        background: $error-backgroud;
        color: red;
        padding: 10px;
        font-size: 14px;
    }

    &__container {
        padding: 150px 0;
    }

    &__wrapper {
        width: 405px;
        margin: auto;
        box-shadow: 0px 30px 60px -5px #000;
        background: $background-color;
        position: relative;

        form {
            padding: 30px;
        }
    }

    &__title {
        font-size: 22px;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-weight: 100;
        width: 100%;
        text-align: center;
        padding: 60px 0 5px 0;

        &-text {
            font-family: $font-family-login;
            font-weight: bold;
            font-size: 2em;
            transition: all 400ms cubic-bezier(0.545, 0.08, 0.52, 0.975);
        }
    }

    &__form {
        padding-top: 80px;
    }

    &__input {
        border: none;
        font-size: 14px;
        width: 89%;
        padding: 10px 20px;
        display: block;
        height: 30px;
        border-radius: 20px;
        background: rgba(255, 255, 255, 0.9);
        border: 2px solid rgba(255, 255, 255, 0);
        overflow: hidden;
        margin-top: 15px;
        transition: all 0.2s ease-in-out;
        margin: auto;

        &:focus {
            outline: 0;
            border: 2px solid rgba(255, 255, 255, 1);
            border-radius: 20px;
            background: rgba(210, 255, 255, 1);
            transform: scale(1.1);
        }
    }

    &__submit {
        @include btn-base($twitter-color);
    }
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}
