.registration {
    background-image: url(../images/cafe-registration.jpg);
    position: relative;
    background-size: cover;

    .error {

        &__title {
            display: none;
        }

        &__container {
            background-color: $error-backgroud;
            padding: 10px 20px;
        }

        &__item {
            color: red;
        }
    }


    &__container {
        padding: 150px 0;
        backdrop-filter: contrast(40%);
    }

    &__wrapper {
        width: 600px;
        margin: auto;
        box-shadow: 0px 30px 60px -5px #000;
        background: $background-color;
        position: relative;

        form {
            padding: 30px;
        }
    }

    &__title {
        font-size: 22px;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-weight: 100;
        width: 100%;
        text-align: center;
        padding: 60px 0 5px 0;

        &-text {
            font-family: $font-family-login;
            font-weight: bold;
            font-size: 2em;
            transition: all 400ms cubic-bezier(0.545, 0.080, 0.520, 0.975);
        }
    }

    &__form {
        padding-top: 80px;
    }

    &__input {
        border: none;
        font-size: 14px;
        width: 89%;
        padding: 10px 35px;
        display: block;
        height: 40px;
        border-radius: 20px;
        background: rgba(255, 255, 255, .9);
        border: 2px solid rgba(255, 255, 255, 0);
        overflow: hidden;
        margin: 10px 40px 5px !important;
        transition: all 0.2s ease-in-out;
        margin: auto;

        &:focus {
            outline: 0;
            border: 2px solid rgba(255, 255, 255, 1);
            border-radius: 20px;
            background: rgba(210, 255, 255, 1);
            transform: scale(1.1);
        }
    }

    &__submit {
        @include btn-base();
    }
}

