.login {
    padding: 20vw 0;

    &__container {
        background: url(https://images.unsplash.com/photo-1511920170033-f8396924c348?ixid=MXwxMjA3fDB8MHxzZWFyY2h8N3x8Y2FmZXxlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60) no-repeat   center center #505050;
        position: relative;
        background-size: cover;
    }

    &__wrapper {
        height: 560px;
        width: 405px;
        margin: auto;
        box-shadow: 0px 30px 60px -5px #000;
        background: $background-color;
        position: relative;

        form {
            padding: 30px;
        }
    }

    &__title {
        font-size: 22px;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-weight: 100;
        width: 100%;
        text-align: center;
        padding: 60px 0 5px 0;

        &-text {
            font-family: $font-family-login;
            font-weight: bold;
            font-size: 2em;
            transition: all 400ms cubic-bezier(0.545, 0.080, 0.520, 0.975);
        }
    }

    &__form {
        padding-top: 80px;
    }

    &__input {
        border: none;
        font-size: 14px;
        width: 89%;
        padding: 10px 20px;
        display: block;
        height: 30px;
        border-radius: 20px;
        background: rgba(255, 255, 255, .9);
        border: 2px solid rgba(255, 255, 255, 0);
        overflow: hidden;
        margin-top: 15px;
        transition: all 0.2s ease-in-out;
        margin: auto;

        &:focus {
            outline: 0;
            border: 2px solid rgba(255, 255, 255, 1);
            border-radius: 20px;
            background: rgba(222, 222, 222, 1);
            transform: scale(1.1);
        }
    }

    &__submit {
        margin: 30px 0;
        padding: 5px 40px;
        border-radius: 30px;
        background: $twitter-color;
        color: white;
        border-color: white;
        transition: all 0.2s ease-in-out;

        &:hover {
            background: white;
            color: $twitter-color;
            border: 3px solid $twitter-color;
        }
    }

}

input:-webkit-autofill {
-webkit-box-shadow: 0 0 0px 1000px white inset;
}

