<div class="js-events">
    <% @events.order(date: :desc).limit(3).each do |event| %>
        <div class="slider">
            <%= link_to event_path(event.id), class: "event-link" do %>
                <%= image_tag event.image %>
            <% end %>
        </div>
    <% end %>
</div>