// セクションごとのセッティング
@mixin section-setting() {
    width: 80%;
    margin: 300px auto;
}

// タイトルの設定
@mixin title-setting() {
    text-align: center;
    border-bottom: solid 1px;
    margin: 60px auto;
    width: 30%;

    padding-bottom: 0.3em;
}

// アンダーラインが出るアクション
@mixin under-line($color) {
    display: inline-block;
    position: relative;
    color: $color;

    &::after {
        content: "";
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: $color;
        transform-origin: bottom right;
        transition: transform 0.4s cubic-bezier(0.86, 0, 0.07, 1);
    }

    &:hover::after {
        transform: scaleX(1);
        transform-origin: bottom left;
    }
}

// アンダーラインが下から出るアクション
@mixin under-fade($border-color) {
    position: relative;
    display: inline-block;
    text-decoration: none;

    &::after {
        position: absolute;
        bottom: 2px;
        left: 0;
        content: "";
        width: 100%;
        height: 2px;
        background: $border-color;
        opacity: 0;
        visibility: hidden;
        transition: 0.3s;
    }

    &:hover::after {
        bottom: -4px;
        opacity: 1;
        visibility: visible;
    }
}

// ボタンが少し大きくなるアクション
@mixin btn-action($color) {
    color: $color;
    transition: all 0.5s;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
    letter-spacing: 0.1em;

    &:hover {
        color: white;
        /* border: 2px outset rgba(0, 0, 0, 0.9); */
        font-weight: bold;
        transform: scale(1.1);
        transition: 0.2s;
        text-shadow: 1px 1px 1px rgb(0, 0, 0);
        box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
        letter-spacing: 0.2em;
    }
}

// progress-barの色ｋｌｐ
@mixin bar-color() {
    background: #282828;
    background-image: -webkit-linear-gradient(right, #7b7f82 2%, #303136 100%),
        -webkit-radial-gradient(50% 116%, rgba(255, 255, 255, 0) 0%, rgba(
                        0,
                        0,
                        0,
                        0.5
                    )
                    100%),
        -webkit-linear-gradient(149deg, rgba(255, 255, 255, 0.5) 7%, rgba(
                        87,
                        87,
                        87,
                        0.5
                    )
                    68%, rgba(85, 85, 85, 0.5) 76%, rgba(0, 0, 0, 0.5) 100%);
    background-image: linear-gradient(-90deg, #7b7f82 2%, #303136 100%),
        radial-gradient(
            50% 116%,
            rgba(255, 255, 255, 0) 0%,
            rgba(0, 0, 0, 0.5) 100%
        ),
        linear-gradient(
            -59deg,
            rgba(255, 255, 255, 0.5) 7%,
            rgba(87, 87, 87, 0.5) 68%,
            rgba(85, 85, 85, 0.5) 76%,
            rgba(0, 0, 0, 0.5) 100%
        );
    background-blend-mode: normal, multiply, multiply;
}
